<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POC WCS</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<body class="bg-gray-200">
<nav class="bg-white border-b border-gray-300">
  <div class="flex justify-between items-center px-9">
    <!-- Aumenté el padding aquí para añadir espacio en los lados -->
    <!-- Ícono de Menú -->
    <button id="menuBtn">
      <i class="fas fa-bars text-black text-lg"></i>
    </button>

    <!--     Logo -->
    <div class="ml-1">
      <img src="https://www.marjane.ma/icons/logo_marjane.svg" alt="logo" class="h-20 w-28">
    </div>

    <!-- Ícono de Notificación y Perfil -->
    <div class="space-x-4">
      <button>
        <i class="fas fa-bell text-black text-lg"></i>
      </button>

      <!-- Botón de Perfil -->
      <button>
        <i class="fas fa-user text-black text-lg"></i>
      </button>
    </div>
  </div>
</nav>

<!-- Barra lateral -->
<div id="sideNav" class="lg:block hidden bg-blue-700 w-64 h-screen fixed rounded-none border-none">
  <!-- Items -->
  <div class="p-4 space-y-4">
    <!-- Inicio -->
    <a href="#" aria-label="dashboard"
       class="relative px-4 py-3 flex items-center space-x-4 rounded-lg text-black bg-gradient-to-r from-white to-white">
      <i class="fas fa-home text-black"></i>
      <span class="-mr-1 font-medium">Principale</span>
    </a>

    <a routerLink="/statistic" class="px-4 py-3 flex items-center space-x-4 rounded-md text-white group hover:bg-amber-400">
      <i class="fas fa-chart-area"></i>
      <span>Statistic</span>
    </a>
    <a href="#" class="px-4 py-3 flex items-center space-x-4 rounded-md text-white group hover:bg-amber-400">
      <i class="fas fa-exchange-alt"></i>
      <span>Transiction</span>
    </a>
    <a href="#" class="px-4 py-3 flex items-center space-x-4 rounded-md text-white group hover:bg-amber-400">
      <i class="fas fa-user"></i>
      <span>Utilisateur</span>
    </a>
    <a href="#" class="px-4 py-3 flex items-center space-x-4 rounded-md text-white group hover:bg-amber-400">
      <i class="fas fa-sign-out-alt"></i>
      <span>Cerrar sesión</span>
    </a>
  </div>
</div>

<div class="lg:ml-64 lg:pl-4 lg:flex lg:flex-col lg:w-75% mt-5 mx-2">

  <!-- Buscador -->
  <div class="bg-white rounded-full border-none p-3 mb-4 shadow-md">
    <div class="flex items-center">
      <i class="px-3 fas fa-search ml-1"></i>
      <input type="text" placeholder="Buscar..." class="ml-3 focus:outline-none w-full">
    </div>
  </div>

  <!-- Contenedor Principal -->
  <div class="lg:flex gap-4 items-stretch">
    <!-- Caja Grande -->
    <div class="bg-white md:p-2 p-6 rounded-lg border border-gray-200 mb-4 lg:mb-0 shadow-md lg:w-[35%]">
      <div class="flex justify-center items-center space-x-5 h-full">
        <div>
          <p>Saldo actual</p>
          <h2 class="text-4xl font-bold text-gray-600">50.365</h2>
          <p>25.365 $</p>
        </div>
        <img src="https://www.emprenderconactitud.com/img/Wallet.png" alt="wallet"
             class="h-24 md:h-20 w-38">
      </div>
    </div>

    <!-- Caja Blanca -->
    <div class="bg-white p-4 rounded-lg xs:mb-4 max-w-full shadow-md lg:w-[65%]">
      <!-- Cajas pequeñas -->
      <div class="flex flex-wrap justify-between h-full">
        <!-- Caja pequeña 1 -->
        <div
          class="flex-1 bg-blue-700 rounded-lg flex flex-col items-center justify-center p-4 space-y-2 border border-gray-200 m-2">
          <i class="fas fa-hand-holding-usd text-white text-4xl"></i>
          <p class="text-white">Depositar</p>
        </div>

        <!-- Caja pequeña 2 -->
        <div
          class="flex-1 bg-blue-700 rounded-lg flex flex-col items-center justify-center p-4 space-y-2 border border-gray-200 m-2">
          <i class="fas fa-exchange-alt text-white text-4xl"></i>
          <p class="text-white">Transferir</p>
        </div>

        <!-- Caja pequeña 3 -->
        <div
          class="flex-1 bg-blue-700 rounded-lg flex flex-col items-center justify-center p-4 space-y-2 border border-gray-200 m-2">
          <i class="fas fa-qrcode text-white text-4xl"></i>
          <p class="text-white">Canjear</p>
        </div>
      </div>
    </div>
  </div>

  <div class="my-4 grid grid-cols-1 gap-6 ">
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden xl:col-span-2">
      <div class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6">
        <div>
          <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900 mb-1">Projects</h6>
          <p class="antialiased font-sans text-sm leading-normal flex items-center gap-1 font-normal text-blue-gray-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" aria-hidden="true" class="h-4 w-4 text-blue-500">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <strong>30 done</strong> this month
          </p>
        </div>
        <button aria-expanded="false" aria-haspopup="menu" id=":r5:" class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
              <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currenColor" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" aria-hidden="true" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"></path>
                </svg>
              </span>
        </button>
      </div>
      <div class="p-6 w-full overflow-x-scroll px-0 pt-0 pb-2">
        <table class="w-full min-w-[840px] table-auto">
          <thead>
          <tr>
            <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
              <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">Promotin</p>
            </th>
            <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
              <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">Date debut</p>
            </th>
            <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
              <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">Description </p>
            </th>
            <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
              <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">Status </p>
            </th>
            <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
              <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">Precentage </p>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let promotion of promotion">
            <td class="py-3 px-5 border-b border-blue-gray-50">
              <div class="flex items-center gap-4">
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">Promotion {{promotion.id}}</p>
              </div>
            </td>

            <td class="py-3 px-5 border-b border-blue-gray-50">
              <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">{{promotion.dateDebut}}</p>
            </td>

            <td class="py-3 px-2 border-b border-blue-gray-50">
              <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">{{promotion.description}}</p>
            </td>
            <td class="py-3 px-2 border-b border-blue-gray-50">
              <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">{{promotion.status}}</p>
            </td>
            <td class="py-3 px-4 border-b border-blue-gray-50">
              <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">{{promotion.precentage}}%</p>
            </td>
            <td class="py-3 px-5 border-b border-blue-gray-50 hover:text-red-600">
              <button class="fas fa-trash"></button>
            </td>

          </tr>


          </tbody>
          <ul class="inline-flex -space-x-px mx-auto my-2 ml-16" >
            <li  *ngFor="let i of generatePage()">
              <button (click)="changePage(i)" class='bg-gray-300 border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white' >{{i+1}}</button>
            </li>

          </ul>
        </table>

      </div>
    </div>
  </div>
</div>


<!-- Script  -->
<script>

  const menuBtn = document.getElementById('menuBtn');
  const sideNav = document.getElementById('sideNav');

  menuBtn.addEventListener('click', () => {
    sideNav.classList.toggle('hidden');
  });
</script>
</body>

</html>
