<!--String interpolation-->
<!--<h1 class="text-3xl font-bold underline" routerLink="/home">Hello {{title}}</h1>-->
<!--  <ul>-->
<!--    &lt;!&ndash; [] -> c'est une expretion &ndash;&gt;-->
<!--    <li  *ngFor="let action of action" [class]="action == currentAction?'bg-amber-300':'border-e bg-amber-700'">-->
<!--      <button (click)="setCurrentAction(action)" routerLink="{{action.path}}">{{action.title}}</button>-->
<!--    </li>-->
<!--  </ul>-->
<nav class="bg-white border-b border-gray-300">
  <div class="flex justify-between items-center px-9">
    <!-- Aumenté el padding aquí para añadir espacio en los lados -->
    <!-- Ícono de Menú -->
    <button id="menuBtn">
      <i class="fas fa-bars text-black text-lg"></i>
    </button>

    <!--     Logo -->
    <div class="ml-1">
      <img src="https://www.marjane.ma/icons/logo_marjane.svg" alt="logo" class="h-20 w-28">
    </div>

    <!-- Ícono de Notificación y Perfil -->
    <div class="space-x-4">
      <button>
        <i class="fas fa-bell text-black text-lg"></i>
      </button>

      <!-- Botón de Perfil -->
      <button>
        <i class="fas fa-user text-black text-lg"></i>
      </button>
    </div>
  </div>
</nav>
<!-- Barra lateral -->
<div id="sideNav" class="lg:block hidden bg-blue-700 w-64 h-screen fixed rounded-none border-none">
  <!-- Items -->
  <div class="p-4 space-y-4">
    <!-- Inicio -->
    <a href="#" aria-label="dashboard"
       class="relative px-4 py-3 flex items-center space-x-4 rounded-lg text-black bg-gradient-to-r from-white to-white">
      <i class="fas fa-home text-black"></i>
      <span class="-mr-1 font-medium">Principale</span>
    </a>

    <a href="#" class="px-4 py-3 flex items-center space-x-4 rounded-md text-white group hover:bg-amber-400">
      <i class="fas fa-wallet"></i>
      <span>Billetera</span>
    </a>
    <a href="#" class="px-4 py-3 flex items-center space-x-4 rounded-md text-white group hover:bg-amber-400">
      <i class="fas fa-exchange-alt"></i>
      <span>Transiction</span>
    </a>
    <a href="#" class="px-4 py-3 flex items-center space-x-4 rounded-md text-white group hover:bg-amber-400">
      <i class="fas fa-user"></i>
      <span>Utilisateur</span>
    </a>
    <a href="#" class="px-4 py-3 flex items-center space-x-4 rounded-md text-white group hover:bg-amber-400">
      <i class="fas fa-sign-out-alt"></i>
      <span>Cerrar sesión</span>
    </a>
  </div>
</div>
<div class="container mx-72 flex">
  <div class="card w-72 bg-white p-4 mt-4 border border-gray-200 rounded-md shadow-md ">
    <h3 class="card-title text-2xl font-bold mb-4">Promotion</h3>
    <p class="font-light">Date: 20-08-2023</p>
    <p class="card-text text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <button class="mx-2 hover:text-green-600">
      <i class="fas fa-solid fa-check"></i>
      Accepter
    </button>
    <button class="hover:text-red-600">
      <i class="fas fa-solid fa-xmark ml-2"></i>
      Refuser
    </button>
  </div>
</div>
<router-outlet>

</router-outlet>
