<div class="container mx-auto mt-4 p-4 " >
  <form class="bg-white shadow-2xl p-4 rounded m-auto w-1/2 mt-20" [formGroup]="promotionForm" (ngSubmit)="savePromotion()">
    <div class="mb-4">
      <label  class="text-sm font-bold block mb-2">Email</label>

      <select class="border-double" formControlName="produit" class="form-section w-full text-left rounded-md px-4 border border-gray-300 focus:border-blue-500 h-10">
          <option *ngFor="let produit of produit " value="{{produit.id}}">{{ produit.nom }}</option>
      </select>
    </div>
    <div class="mb-4">
      <label  class="text-sm font-bold block mb-2">Date debut</label>
      <input class="border" type="date" formControlName="dateDebut"  class="form-input w-full text-left rounded-md px-4 border border-gray-300 focus:border-blue-500 h-10">
    </div>

      <input class="border" type="hidden" formControlName="status"  value="EN_ATTEND">

    <div class="mb-4">
    <label  class="text-sm font-bold block mb-2">Date fin</label>
    <input class="border" type="date" formControlName="dateFin"  class="form-input w-full text-left rounded-md px-4 border border-gray-300 focus:border-blue-500 h-10">
    </div>
    <div class="mb-4">
      <label  class="text-sm font-bold block mb-2">Description</label>
      <input class="border" type="text" formControlName="description"  class="form-input w-full text-left rounded-md px-4 border border-gray-300 focus:border-blue-500 h-10">
    </div>
    <div class="mb-4">
    <label  class="text-sm font-bold block mb-2">Porcentage</label>
    <input class="border" type="number" formControlName="precentage"  class="form-input w-full text-left rounded-md px-4 border border-gray-300 focus:border-blue-500 h-10">
    </div>
    <button class="bg-blue-800 text-white font-bold rounded-xl border w-24 h-8" type="submit">Ajouter</button>

</form>
</div>
